.vs/
Radio_Blue_Point/Radio_Blue_Point/bin
Radio_Blue_Point/Radio_Blue_Point/obj
Radio_Blue_Point/Radio_Blue_Point.Android/bin
Radio_Blue_Point/Radio_Blue_Point.Android/obj
Radio_Blue_Point/Radio_Blue_Point.Android/Radio_Blue_Point.Android.csproj.user
Radio_Blue_Point/Radio_Blue_Point.iOS/bin
Radio_Blue_Point/Radio_Blue_Point.iOS/obj